/* ==UserStyle==
@name Hide metrics on Bsky.app
@namespace eramdam
@version 1.0.1
@description What it says on the tin.
@author @Eramdam
@homepageURL https://github.com/eramdam/userscripts/raw/main/bluesky-hide-metrics.user.css
@supportURL https://github.com/eramdam/userscripts/raw/main/bluesky-hide-metrics.user.css
@updateURL https://github.com/eramdam/userscripts/raw/main/bluesky-hide-metrics.user.css
==/UserStyle== */
@-moz-document domain("bsky.app") {
  /* Insert code here... */
  /*  like counts  */
  [data-testid='likeCount'] {
    display: none !important;
  }

  /* reposts   */
  [data-testid='repostCount'] {
    display: none !important;
  }

  /*  metrics bar thingy  */
  :has(
      > div > [data-testid='repostCount-expanded'],
      > div > [data-testid='quoteCount-expanded'],
      > div > [data-testid='likeCount-expanded']
    ) {
    display: none;
  }

  /*  reply counts  */
  [aria-label^='Reply'] svg + div {
    display: none !important;
  }
}
