/* ==UserStyle==
@name           Compact(er) Mastodon
@namespace      github.com/openstyles/stylus
@version        2023.04.30.3
@description    Tweaks the Mastodon multi-column UI to make it slightly more compact
@author         Eramdam
@preprocessor stylus

==/UserStyle== */
@-moz-document regexp("https?:\\/\\/(octodon|mastodon|tenforward)\\.social\\/.*") {
  :root {
    --avatar-size: 32px;
    --avatar-border-radius: 99999999999px;
  }

  body.layout-multiple-columns {
    /* <!-- Avatar sizing --> */
    .drawer__inner .account__avatar,
    .status__avatar,
    .conversation__avatar .account__avatar-composite,
    .notification-follow .account__avatar,
    .detailed-status__display-avatar .account__avatar,
    .status__avatar > .account__avatar {
      width: var(--avatar-size) !important;
      height: var(--avatar-size) !important;
      border-radius: var(--avatar-border-radius) !important;
    }

    .account__avatar-overlay .account__avatar-overlay-base,
    .account__avatar-overlay .account__avatar-overlay-base .account__avatar {
      width: calc(var(--avatar-size) * 0.75) !important;
      height: calc(var(--avatar-size) * 0.75) !important;
      background-size: calc(var(--avatar-size) * 0.75)
        calc(var(--avatar-size) * 0.75) !important;
      /*   border-radius: var(--avatar-size); */
    }
    .account__avatar-overlay .account__avatar-overlay-overlay,
    .account__avatar-overlay .account__avatar-overlay-overlay .account__avatar {
      width: calc(var(--avatar-size) * 0.5) !important;
      height: calc(var(--avatar-size) * 0.5) !important;
      background-size: calc(var(--avatar-size) * 0.5)
        calc(var(--avatar-size) * 0.5) !important;
    }

    .account__avatar-overlay .account__avatar-overlay-overlay {
      bottom: calc(var(--avatar-size) * 0.4) !important;
      right: calc(var(--avatar-size) * 0.4) !important;
    }
    /* <!-- /Avatar sizing --> */

    /* <!-- Layout stuff --> */
    div.status:not(.status--in-thread) {
      padding: 10px !important;
    }
    article div.status:not(.status--in-thread) > div.status__info {
      padding-bottom: 4px !important;
      margin-bottom: 0 !important;
    }
    article div.status:not(.status--in-thread) > div.status__action-bar {
      margin-top: 8px !important;
    }
    article div.status:not(.status--in-thread) > *:not(.status__info) {
      margin-inline-start: calc(var(--avatar-size) + 10px) !important;
      width: calc(100% - var(--avatar-size) - 10px) !important;
    }

    .status--in-thread .attachment-list,
    .status--in-thread .audio-player,
    .status--in-thread .media-gallery,
    .status--in-thread .status-card,
    .status--in-thread .status__action-bar,
    .status--in-thread .status__content,
    .status--in-thread .video-player {
      margin-inline-start: calc(var(--avatar-size) + 10px) !important;
      width: calc(100% - var(--avatar-size) - 10px) !important;
    }

    .status--in-thread .status__line {
      inset-inline-start: 31px;

      &::before {
        height: calc(var(--avatar-size) + 10px);
      }
    }

    .reply-indicator__content p,
    .status__content p {
      margin-bottom: 4px;
    }

    .media-gallery {
      margin-top: 8px !important;
    }

    .status__action-bar {
      margin-top: 8px !important;
    }
    .status__action-bar {
      justify-content: flex-start !important;
    }

    .status__prepend > .status__prepend-icon-wrapper + span {
      margin-left: 8px;
    }

    .drawer__tab {
      padding-top: 11px;
      padding-bottom: 9px;
    }

    .column-header > button {
      padding-top: 11px;
      padding-bottom: 11px;
    }
    .column-header > .column-header__buttons {
      height: auto !important;
    }

    .search__input {
      padding-top: 11px;
      padding-bottom: 11px;
    }

    .search__icon .fa {
      top: 11px;
    }

    .navigation-bar,
    .compose-form {
      padding: 11px;
    }

    .media-gallery__item {
      border-radius: 8px;
    }

    .media-gallery .spoiler-button .icon-button {
      border-radius: 6px;
    }
    /* <!-- /Layout stuff --> */

    /* <!-- Font sizes --> */
    .detailed-status__display-name,
    .status__prepend,
    .status__info .status__display-name,
    .reply-indicator__content,
    .status__content {
      font-size: 14px !important;
      line-height: 1.4666666667 !important;
    }

    .status__prepend {
      font-weight: normal !important;
    }

    .column-link {
      padding: 10px;
    }

    .column-subheading {
      padding-right: 10px;
      padding-left: 10px;
    }

    .link-footer {
      padding-top: 10px;
    }

    .status__relative-time {
      font-size: 13px;
    }

    .column-link,
    .column-header,
    .column-header__buttons > button {
      font-size: 14px;
    }
    /* <!-- /Font sizes --> */
  }
}
