/* ==UserStyle==
@name        Minimal Tumblr
@description Simpler Tumblr style
@match       *://www.tumblr.com/dashboard
@namespace   eramdam
@version     1.0
@author      @Eramdam
==/UserStyle== */

@media (min-width: 990px) {
  ._1oyP0 {
    display: none !important;
  }

  .k6432 {
    max-width: none;
    justify-content: center;
  }

  body main {
    left: -43px;
    position: relative;
  }
}
