/* ==UserStyle==
@name Minimal Tumblr
@description Simpler Tumblr style
@namespace eramdam
@version 1.0
@author @Eramdam
@homepageURL https://github.com/eramdam/userscripts/raw/main/Minimal Tumblr.css
@supportURL https://github.com/eramdam/userscripts/raw/main/Minimal Tumblr.css
@updateURL https://github.com/eramdam/userscripts/raw/main/Minimal Tumblr.css
==/UserStyle== */

@media (min-width: 950px) {
  ._1oyP0 {
    display: none !important;
  }

  .k6432 {
    max-width: none;
    justify-content: center;
  }

  body main {
    left: -43px;
    position: relative;
  }
}
